@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Matemasie&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,#3ed8ff,#a8f5ff);
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    /* background-color:#ffffffcc; */
    background: linear-gradient(to top left,#ffffffff,#ffffff33);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #1d5a82;
    z-index: 2;
}
.signup-header h1{
    font-size: 2.5rem;
    color: #212121;
}
.signup-header p{
    font-size: 0.9rem;
    color: #555;
}
.signup-body{
    margin: 20px 0;
}
.signup-body p{
    margin: 10px 0;
}
.signup-body label{
    display: block;
    font-weight: bold;
}
.signup-body  p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    margin-top: 4px;
}
.signup-body  p input[type="submit"] {
    background-color: #3498db;
    border: none;
    cursor: pointer;
}
.signup-body  p input[type="submit"]:hover{
    background-color:#1d5a82 ;
}
.signup-footer p{
    color: #555;
    text-align: center;
}
.signup-footer p a {
    color: #1d5a82 ;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background:linear-gradient(to top right,#ffffff33,#ffffff);
    position: absolute;
}
.c1{
    top: 100px;
    left: 40px;
}
.c2{
    bottom: 200px;
    right: 50px;
}